@model List<TallerMVC.Models.ViewModels.ListViewRefaccion>
@{
    ViewBag.Title = "Lista de Refacciones";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12" style="text-align:left">
        <a href="~/Refaccion/Nueva_Refaccion" class="btn btn-success">
            Nuevo
            <i class="fa-solid fa-wrench fa-beat fa-xs" style="color: #fafafa;"></i>
            <br>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered align-middle" style="background-color: #f6f1de; border: #fafafa; ">
            <tr>
                <th>ID Refaccion</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>No. Servicio</th>

                @foreach (var refa in Model)
                {
                <tr>
                    <td>@refa.idRefaccion</td>
                    <td>@refa.tipo</td>
                    <td>@refa.precio</td>
                    <td>@refa.servicioId</td>

                    <td>
                        <a class="btn btn-warning" href="~/Refaccion/Editar_Refaccion/@refa.idRefaccion">
                            <i class="fa-regular fa-pen-to-square fa-shake" style="color: #f0f0f0;"></i>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="~/Refaccion/Eliminar_Refaccion/@refa.idRefaccion">
                            <i class="fa-solid fa-trash-can fa-bounce" style="color: #f0f2f4;"></i>
                        </a>
                    </td>
                </tr>
            }
            </table>
        </div>
    </div>

