@model List<TallerMVC.Models.ViewModels.ListViewCliente>
@{
    ViewBag.Title = "Lista de Clientes";
}

<h2>@ViewBag.Title</h2>

<div class="container" >
    <div class="row">
        <div class="col-md-12" style="text-align:left">
            <a href="~/Clientes/Nuevo_Cliente" class="btn btn-success">
                Nuevo
                <i class="fa-solid fa-user-plus fa-beat fa-sm" style="color: #fafafa;"></i>
                <br>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered align-middle" style="background-color: #f6f1de; border: #fafafa; ">
                <tr>
                    <th>Id Cliente</th>
                    <th>Nombre del cliente</th>
                    <th>Edad</th>
                    <th>Sexo</th>
                    <th>Direccion</th>
                    <th>Número Telefónico</th>
                    <th>Correo Electronico</th>

                    @foreach (var cliente in Model)
                    {
                    <tr>
                        <td>@cliente.idCliente</td>
                        <td>@cliente.nombreCompleto</td>
                        <td>@cliente.edad</td>
                        <td>@cliente.sexo</td>
                        <td>@cliente.direccion</td>
                        <td>@cliente.telefono</td>
                        <td>@cliente.correo</td>

                        <td>
                            <a class="btn btn-warning" href="~/Clientes/Editar_Cliente/@cliente.idCliente"> 
                                <i class="fa-regular fa-pen-to-square fa-shake" style="color: #f0f0f0;"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="~/Clientes/Eliminar_Cliente/@cliente.idCliente">
                                <i class="fa-solid fa-trash-can fa-bounce" style="color: #f0f2f4;"></i>
                            </a>
                        </td>
                    </tr>
                }

                </table>
            </div>
        </div>
    </div>
